* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
}

header {
    background-image: url('/Képek/szelet.jpg'); 
    background-size: cover;
    background-position: center;
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.header-content {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
}
.történetünk {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.left-column {
    flex: 1;
    text-align: right;
    padding-right: 20px;

}

.right-column {
    flex: 2;
    text-align: left;
    line-height: 1.5;
    
}



.specialities {
    text-align: center;
    margin: 50px 0;
}

.specialities h2 {
    margin-bottom: 10px;
}

.specialities p {
    font-size: 18px;
    margin-bottom: 40px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.grid-item {
    flex: 0 0 250px;
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item p {
    margin-top: 10px;
}

.intro {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    color: #999;
    margin: 10px 0;
}

p {
    font-size: 1rem;
    margin: 20px 0;
    color: #ccc;
}

.contact {
    font-weight: bold;
    margin-top: 20px;
    color: white;
}

section.menu {
    background-color: #111;
    padding: 50px 0;
}

h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #999;
}

.buttons button {
    padding: 25px 100px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin: 20px 30px 0px 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none ;
    color: white;

}

.buttons button:hover {
    background-color: #fff;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.menuszoveg {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}